body{
	font-family: sans-serif;
	background-color: #ff69b4;
	padding: 2%;
	margin: 1%;
	width: 500px;
	height: 100px;
}

input
{
  -moz-border-radius: 10px;
	border-radius: 10px;
    border:solid 1px black;
    padding:1%;
	margin: 1%;
}

.searchField {width: 90%}

imgBtn
{
border: 3px round;
}