body{
	font-family: sans-serif;
	background-color: #ffffff;
	padding: 1.5%;
	margin: .5%;
	width: 350px;
	height: 250px;
}

input
{
  -moz-border-radius: 10px;
	border-radius: 10px;
    border:solid 1px black;
    padding:3px;
	width: 310px;
}