body{
	background-image: url("http://previews.123rf.com/images/rixie/rixie1110/rixie111000097/10799045-A-vector-illustration-of-a-patchwork-quilt-background-in-shades-of-blue-Stock-Vector.jpg");
	padding: .75%;
	width: 650px;
	height: 110px;
	text-align: center;
}

.buttons{
	
	border-radius: 5px;
	width: 70%;
	display: inline-block;
}

input
{
	background-color: #ffffff;
  -moz-border-radius: 10px;
	border-radius: 10px;
    border:solid 1px black;
    padding:.75%;
	margin: 1%;
}

.searchField {width: 90%}

.btnTxt{
	background-color: #ffffff;
}